.bg-cont {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-cont {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #eaebed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .app-cont {
    width: 35%;
    max-width: 500px;
  }
}

.heading {
  color: #0b69ff;
  font-size: 26px;
}
.description {
  text-align: center;
}
.button {
  background-color: #0b69ff;
  color: white;
  border-radius: 5px;
  border-style: none;
}
.count {
  color: #0b69ff;
  font-size: 35px;
  font-weight: bold;
}
